* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Circular Std', sans-serif;
    user-select: none;
    background: #F6F6F8;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-MediumItalic.eot');
    src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
        url('CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-MediumItalic.woff2') format('woff2'),
        url('CircularStd-MediumItalic.woff') format('woff'),
        url('CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Black.eot');
    src: local('Circular Std Black'), local('CircularStd-Black'),
        url('CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Black.woff2') format('woff2'),
        url('CircularStd-Black.woff') format('woff'),
        url('CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Medium.eot');
    src: local('Circular Std Medium'), local('CircularStd-Medium'),
        url('CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff'),
        url('CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Bold.eot');
    src: local('Circular Std Bold'), local('CircularStd-Bold'),
        url('CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff'),
        url('CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-BlackItalic.eot');
    src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
        url('CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-BlackItalic.woff2') format('woff2'),
        url('CircularStd-BlackItalic.woff') format('woff'),
        url('CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-BookItalic.eot');
    src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
        url('CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-BookItalic.woff2') format('woff2'),
        url('CircularStd-BookItalic.woff') format('woff'),
        url('CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-BoldItalic.eot');
    src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
        url('CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-BoldItalic.woff2') format('woff2'),
        url('CircularStd-BoldItalic.woff') format('woff'),
        url('CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.eot');
    src: local('Circular Std Book'), local('CircularStd-Book'),
        url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff'),
        url('CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.nav {
    padding: 23px 0;
}

.nav .container {
    width: 1300px;
}

.nav-omega {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.500211px;
    color: #19191B;
    transition: 0.5s all;
    margin: 0 10px;
}

.nav-link:hover {
    color: #5454D4;

}

.nav-item-list {
    display: flex;
    align-items: center;
}

.nav-get-link {
    padding: 13px 34px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #FFFFFF;
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s background, color 0.5s;
}

.nav-get-link:hover {
    background: #fff;
    color: #F0544C;
}

/* end nav  */

.header {
    padding: 185px 0;
    background-image: url("../img/b1.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left -100px center;
}

.header-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;

}

.header .container {
    display: flex;
    justify-content: flex-end;
}

.header-box {
    width: 50%;
}

.header-item {
    display: flex;
    align-items: center;
    margin: 9px 0;
}

.header-item-img {
    max-width: 30px;
    max-height: 30px;
}

.header-list-name {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin-left: 10px;
}

.header-link {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    padding: 17px 40px;
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s background, 0.5s color;

}

.header-link:hover {
    background: #fff;
    color: #F0544C;
}

.header-sublink-txt {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #19191B;
    margin-top: 18px;
}

.header-sublink {
    text-decoration: none;
    color: #5454D4;
    transition: 0.5s all;
}

.header-sublink:hover {
    color: #3b3b8d;
}

.header-list {
    margin: 55px 0;
}

.client-review-img {
    max-width: 110px;
    max-height: 110px;
}

.client-review-italic {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.client-review {
    padding-bottom: 90px;
    border-bottom: 2px solid #cacace;
}

.client-review .container {
    display: flex;
    justify-content: center;
}

.client-name {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.656526px;
    color: #19191B;
    font-weight: bold;
}

.clinet-review-box {
    display: flex;
    width: 65%;
}

.client-review-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}


.chapter-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
    text-align: center;
}

.chapters-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 60px;
}

.chapter {
    padding-bottom: 100px;
    padding-top: 75px;
}


.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__item-container {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
    height: 250px;
    color: #fff;
    border-radius: 10px;

}



.slider__item-content {
    background: #FFFFFF;
    border-radius: 10px;
}


.slider__item-content {
    display: flex;
    padding: 85px 120px;
    height: auto;
}

.slider__item-container {
    height: auto;

}

.slider__item-container * {
    font-size: initial;
    line-height: initial;
    text-align: left;
}

.chaper-one {
    font-size: 16px;
    letter-spacing: -0.500211px;
    color: #5454D4;
}

.chief_slider_img {
    max-height: 215px;
    max-width: 215px;
    user-select: none;
    margin-right: 110px;
}

.what_is {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin-top: 10px;
    margin-bottom: 30px;
}

.slider_text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.chiefliser-right-itm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider {
    box-shadow: 0px 12px 34px rgba(65, 62, 101, 0.102519);

}

.chater-list {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.chapter-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chapter-item:nth-child(1) .chapter-icon {
    max-width: 31px;
    max-height: 36px;
}

.chapter-item:nth-child(2) .chapter-icon {
    max-width: 37px;
    max-height: 37px;
}

.chapter-item:nth-child(3) .chapter-icon {
    max-width: 36px;
    max-height: 36px;
}

.chapter-item-name {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin-top: 30px;
    margin-bottom: 15px;
}

.chapter-item-text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #696871;
}


/* end chapter  */

.learn {
    background: #F2F2F3;
    padding-bottom: 105px;
    padding-top: 90px;
}

.learn-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.learn-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-top: 18px;
}

.learn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.learn-item {
    width: 350px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    height: 87px;
    align-items: center;
    padding: 0 19px;
    cursor: pointer;
    transition: transform 0.5s ease-out, box-shadow 0.5s;
}

.learn-item1 {
    display: inline-block;
    transform: rotate3d(1, 1, 1, 0deg), scale3d(20, 20, 20);
    transition: transform 0.5s ease;
}

.learn-item1:hover {
    transform: rotate3d(-5, 1, 1, 10deg);
}

.learn-item1:hover .learn-item {
    box-shadow: 10px 10px 30px 0px #9b9b9b;

}

/* 
.learn-item:hover{
    transform-style: preserve-3d;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 20px 0px  rgb(204, 203, 203);
} */

.learn-icon {
    height: 30px;
    width: 30px;
    margin-right: 17px;
}

.learn-item-name {
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.656526px;
    color: #19191B;
}




.ad {
    padding: 35px 0;
    padding-right: 55px;
    background: #413E65;
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 90px;
}

.left-ad {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.ad-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #FFFFFF;
}

.ad-info {
    font-size: 18px;
    letter-spacing: -0.562737px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 13px;
}

.left-ad-right {
    margin-left: 45px;
}

.ad-link {
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    padding: 17px 54px;
    text-decoration: none;
    transition: all 0.5s;
}

.ad-link:hover {
    background-color: #413E65;
    border: 1px solid #ffffff;
}


/* end ad continer  */

.people-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pepople-percent {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #5454D4;
}

.people-text {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-top: 18px;
}


/* end pepolpe  */

.rating-area {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: #F04037;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: #F04037;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: #F04037;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}

.readers-list {
    display: flex;
    justify-content: space-between;
}

.reader-item {
    width: 30%;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.036062);
    border-radius: 10px;
    padding: 37px;

}

.reader-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin-top: 30px;
}

.reader-item-footer {
    display: flex;
    align-items: center;
    margin-top: 35px;
}


.reader-img {
    max-height: 43px;
    max-width: 43px;
}

.reader-item-footer-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 17px;
}

.rader-name {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.reader-from {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
}


.reader-title {
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.readers-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-top: 18px;
    margin-bottom: 60px;
}

.readers {
    padding-top: 80px;
    padding-bottom: 100px;
}

.reader-link-foot {
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.500211px;
    text-decoration-line: underline;
    color: #5454D4;
    display: block;
    padding-top: 50px;
    transition: all 0.5s;
    text-decoration: none;

}

.reader-link-foot:hover{
    color: #4141b6;
    letter-spacing: 0;
    text-decoration: underline;
}